.character {
	display: flex;
	flex-direction: column;
	gap: 20px;
	flex: 0 1 18%;
}

.title {
	text-align: center;
	font-size: 20px;
	font-weight: 500;
}

.image img {
	object-fit: contain;
	height: unset !important;
	width: 100% !important;
	position: relative !important;
}

@media (max-width: 974px) {
	.character {
		flex: 0 1 24%;
	}
}

@media (max-width: 768px) {
	.character {
		flex: 0 1 40%;
	}
}

@media (max-width: 525px) {
	.character {
		flex: 1 1 100%;
	}

	.title {
		text-align: center;
		font-size: 24px;
	}
}